.chat-box {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  background: rgb(25, 25, 25);
  border-radius: 10px;
  width: 60%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

/* Chat Header */
.chat-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: white;
  background: rgb(30, 30, 30);
}

.messages {
  flex-grow: 1;
  max-height: calc(100vh - 15rem);
  overflow-y: auto;
  padding: 0 2rem;
  width: 300px;
  margin-top: 20px;
}

.message-footer {
  font-size: 6px;
  align-self: flex-end;
  color: rgb(81, 81, 81);
}

.message.self {
  color: white;
  background: #00bd9b;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  flex-shrink: 0;
  width: 93%;
  background: rgb(30, 30, 30);
  padding: 1rem;
  flex-grow: 0;
  gap: 1rem;
}
.send-btn {
  margin-top: 10px;
  border: none;
  background: rgba(72, 112, 223, 1);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}


.message.others {
  align-self: flex-end;
  background-color: #f1f1f1;
}
