.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: white;
  position: relative;
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 380px;
  cursor: pointer;
  margin-top: 20px;
}

.user-card .text-content {
  width: 170px;
}

 .names {
  font-size: 16pt;
  /* font-weight: 600; */
  color: aliceblue;
}

 .text,
.date {
  font-size: 10pt;
  color: rgb(180, 180, 180);
}

.d-flex{
  display: flex;
  gap: 10px;
}

.me-2{
  margin-bottom: 20px;
}

.c-flex{
  display: flex;
  flex-direction: column;
  align-items: end;
}


.user-online {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  .user-card{
    width: 80px;
    display: block;
    color: white;
  }
  .d-flex{
    display: flex;
    gap: 2;
  }
 .text-content {
    width: 80px;
  }

 .names {
  margin-top: 10px;
    font-size: 10pt;
    font-weight: 400;
    color: aliceblue;
  }
  
  .user-card .text,
.user-card .date {
  font-size: 6pt;
  color: rgb(180, 180, 180);
}

.ava{
  width: 25px;
}


}