 nav {
  width: 100%;
  max-height: 70px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 10px 1rem;
  background-color: #333333;
  /* margin-right: 20px; */
}

.txt {
  padding-left: 1rem;
}

.name {
  color: goldenrod;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 40px;
}

.btn101 {
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* margin-right: 20px; */
}

.btn101:hover {
  background-color: white;
  color: #333333;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: goldenrod;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 1rem;
}

.menu-content {
  display: flex;
  align-items: center;
}

.menu-content.show {
  display: flex;
}

/* Responsive Design */
@media (max-width: 768px) {
  .name {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-right: 20px;
  }

  .menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333333;
    width: 40%; /* Adjust to take 30% of the screen width */
    text-align: center;
    margin-right: 25px;
    padding-left: 30px;
  }

  .menu-content.show {
    display: flex;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .btn101 {
    width: 100px; 
    padding: 5px 0;
  }

  
}
