/* ProfileForm.css */

.form-container {
  margin-top: 20px;
}

.text-field {
  margin-bottom: 16px;
}

.upload-button {
  margin-top: 16px;
}

.preview-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: 16px;
  border: 2px solid #3f51b5; /* Primary color for border */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-text {
  color: #ffffff; /* Light gray color for placeholder */
}

.input-root::placeholder {
  color: #f3f3f3; /* Light gray color for placeholder */
}